// responsive breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// primary colors
$primary-green: #97d8c4;
$primary-gray: #c4c4c4;
$primary-yellow: #f4b942;
$primary-blue: #6b9ac4;
$primary-red: #F53030;

// secondary colors
$secondary-gray: #dcdcdc;
$secondary-blue: #4059ad;
