.loginBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6b9ac4;
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}
.centerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: calc(200px + 35vw);
  height: calc(300px + 12vw);
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.7);
  z-index: 100;
}
.btn {
  position: relative;
  cursor: pointer;
  font-size: calc(15px + 0.9vw);
  border: none;
  text-align: center;
}
.btn:hover {
  transform: scale(0.98);
}
h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: calc(50px + 3vw);
  margin-top: auto;
}
input {
  position: relative;
  width: 100%;
}
