.containerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(150px + 23vw);
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 20;
  position: absolute;
}
.Customer {
  height: calc(350px + 12vw);
  left: calc((60% - calc(150px + 23vw)) / 2);
  top: calc((100% - calc(350px + 12vw)) / 2);
}
.Provider {
  height: calc(450px + 17vw);
  right: calc((60% - calc(150px + 23vw)) / 2);
  top: calc((100% - calc(450px + 17vw)) / 2);
}
.hide {
  visibility: hidden;
}
.RegisterSlider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  background-color: #eff2f1;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  padding: 0;
}
.SliderLeft {
  right: 60%;
}
.SliderRight {
  left: 60%;
}
.sliderBtn {
  position: absolute;
  border-radius: 50%;
  z-index: 21;
  width: 3vw;
  aspect-ratio: 1;
  background: #4059ad;
  cursor: pointer;
}
.btnRight {
  top: 1%;
  right: 1%;
}
.btnLeft {
  top: 1%;
  left: 1%;
}
.triangle {
  position: absolute;
  width: 2vw;
  aspect-ratio: 1;
  z-index: 22;
  border-top: 1vw solid transparent;
  border-bottom: 1vw solid transparent;
}
.triangleRight {
  left: 5%;
  top: 17%;
  border-right: 1.7vw solid #eff2f1;
}
.triangleLeft {
  right: 5%;
  top: 17%;
  border-left: 1.7vw solid #eff2f1;
}
h1 {
  font-weight: bold;
  font-size: calc(25px + 8vw);
}
h2 {
  font-size: calc(10px + 1.7vw);
  margin-bottom: calc(5px + 0.3vw);
  margin-top: calc(10px + 0.7vw);
  text-align: center;
  font-family: Montserrat;
}
input {
  margin: calc(3px + 0.1vw);
  box-shadow: 10px;
}
.btnReg {
  width: 60%;
  height: 8%;
  background: rgba(64, 89, 173, 0.85);
  margin-top: calc(15px + 1vw);
  margin-bottom: calc(15px + 1vw);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: calc(15px + 0.9vw);
}
.checkBox-positioning {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.checkBox {
  width: calc(10px + 1vw);
  height: calc(10px + 1vw);
  background: #c4c4c4;
  border-radius: 5px;
}
h3 {
  font-family: Montserrat;
  font-size: calc(10px + 0.7vw);
}
h4 {
  font-family: Roboto;
  font-size: calc(8px + 0.7vw);
}

@media (max-width: 1100px) {
  .RegisterSlider {
    visibility: hidden;
    position: initial;
    transition-duration: 0s;
  }
  .Provider {
    left: calc((100% - 400px) / 2);
    top: calc((100% - 600px) / 2);
    height: 600px;
    width: 400px;
  }
  .Customer {
    left: calc((100% - 400px) / 2);
    top: calc((100% - 500px) / 2);
    height: 500px;
    width: 400px;
  }
  .sliderBtn {
    visibility: visible;
    width: 35px;
  }
  .btnLeft {
    left: calc((100% - 400px) / 2 + 360px);
    top: calc(50% - 245px);
  }
  .btnRight {
    left: calc(50% - 195px);
    top: calc(50% - 295px);
  }
  .triangle {
    position: absolute;
    width: 25px;
    aspect-ratio: 1;
    z-index: 22;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
  .triangleRight {
    border-right: 23px solid #eff2f1;
  }
  .triangleLeft {
    border-left: 23px solid #eff2f1;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .RegisterSlider {
    visibility: hidden;
    position: initial;
    transition-duration: 0s;
  }
  .Provider {
    left: calc((100% - 300px) / 2);
    top: calc((100% - 550px) / 2);
    height: 550px;
    width: 300px;
  }
  .Customer {
    left: calc((100% - 300px) / 2);
    top: calc((100% - 500px) / 2);
    height: 500px;
    width: 300px;
  }
  .sliderBtn {
    visibility: visible;
    width: 30px;
  }
  .btnLeft {
    left: calc((100% - 300px) / 2 + 265px);
    top: calc(50% - 245px);
  }
  .btnRight {
    left: calc(50% - 145px);
    top: calc(50% - 270px);
  }
  .triangle {
    position: absolute;
    width: 20px;
    aspect-ratio: 1;
    z-index: 22;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .triangleRight {
    border-right: 18px solid #eff2f1;
  }
  .triangleLeft {
    border-left: 18px solid #eff2f1;
  }
  h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 13px;
  }
}
